<script>
  var mattersJSON = JSON.parse('<%= @matters.html_safe %>')
</script>

<div class="row m-t-20 top-materias">
	<div class="col-sm-12">
		<div class="card-box">
			<h4 class="m-t-0 m-b-20 header-title">Top 10 Materias</h4>
			<div class="row">
				<div class="col-md-12">
					<div id="chart">
						<svg style="height:500px;width:100%"></svg>
					</div>
					<div class="last-update text-muted">
						Last update: <%= distance_of_time_in_words(Time.now, Time.at(@matters_updated_at)) %> ago
					</div>
				</div>
			</div>
		</div>
	</div>
</div>