<script>
  var casesJSON = JSON.parse('<%= @cases.html_safe %>');
</script>

<div class="row">
	<div class="col-sm-12">
		<div class="page-title-box">
			<h4 class="page-title"><%= t('menu.cases_on_ruts')%></h4>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-box">
      <table class="table cases-table table-bordered toggle-circle m-b-0 cases-by-rut-table"
             data-paging="true" data-sorting="true" data-filtering="true" data-paging-size="1" data-paging-limit="5">
      </table>
    </div>
  </div>
</div>