.bubble {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}
.popover-body {
  font-size: 17px;
}

.virtual_dashboard_1 {
  .palette {
    margin: 20px 0 0 0;
    float: right;
    &--color {
      width: 30px;
      height: 30px;
      float: left;
      margin: 0 5px 0 0;
    }
  }
}
