<%= javascript_pack_tag 'virtual_dashboard_5' %>

<div id="main" class="virtual_dashboard_5">
  <div id="sequence"></div>
  <div id="chart">
    <div id="explanation" style="visibility: hidden;">
      <span id="percentage"></span><br/>
      of visits begin with this sequence of pages
    </div>
  </div>
</div>