<%= javascript_pack_tag 'virtual_dashboard_1' %>
<div class='virtual_dashboard_1'>
  <div class='palette clearfix'>
    <div class="palette--color palette--color__1"></div>
    <div class="palette--color palette--color__2"></div>
    <div class="palette--color palette--color__3"></div>
    <div class="palette--color palette--color__4"></div>
    <div class="palette--color palette--color__5"></div>
    <div class="palette--color palette--color__6"></div>
    <div class="palette--color palette--color__7"></div>
    <div class="palette--color palette--color__8"></div>
    <div class="palette--color palette--color__9"></div>
    <div class="palette--color palette--color__10"></div>
  </div>
</div>
