<div class="row">
	<div class="col-sm-12">
		<div class="page-title-box">
			<h4 class="page-title"><%= t('menu.cases_on_ruts')%></h4>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-box">
      <div class="table-responsive">
        <table class="table cases-table table-bordered toggle-circle m-b-0 cases-by-rut-table"
              data-paging="true" data-sorting="true" data-filtering="true" data-paging-size="15" data-paging-limit="5">
					<thead>
						<tr>
							<th>RIT</th>
							<th>RUC</th>
							<th>Nombre</th>
							<th>Tribunal</th>
							<th>Fecha Ingreso</th>
							<th>Procedimiento</th>
							<th>Forma Inicio</th>
							<th>Estado Adm.</th>
							<th>Etapa</th>
							<th>Estado Procedimiento</th>
						</tr>
					</thead>
        </table>
      </div>
    </div>
  </div>
</div>