body {
  #topnav {
    .topbar-main {
      background-color: #f5f5f5;
    }
    .navbar-toggle span {
      background-color:#3bafda;
    }
    .navbar-toggle:hover span {
      background-color:#3bafda;
    }
  }
  .topbar-custom .nav-link {
    color:#3bafda
  }

  .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ffc5c5;
  }
}

.system-alert {
  margin: 10px 0;
}

.settings-container {
  margin: 20px 0;
}

.register-container {
  margin: 20px 0;
}