body {
  #topnav {
    .topbar-main {
      margin-top: 3px;
      background-color: #f5f5f5;
    }
    .navbar-toggle span {
      background-color:#3bafda;
    }
    .navbar-toggle:hover span {
      background-color:#3bafda;
    }
  }
  .topbar-custom .nav-link {
    color:#3bafda
  }
}

.system-alert {
  margin: 10px 0;
}

.settings-container {
  margin: 20px 0;
}

.register-container {
  margin: 20px 0;
}