<!-- <script>
  var emails = JSON.parse('<%= User.all.order(:email).pluck(:email, :id).to_json.html_safe %>');
  var currentUser = JSON.parse('<%= current_user.to_json.html_safe %>');
  var selectedCases = JSON.parse('<%= SelectedCase.all.where(user_id: current_user.id).where(crr_idcausa_type: "laboral").select("crr_idcausa").pluck(:crr_idcausa).to_json.html_safe %>');
</script>

<%= javascript_pack_tag 'laboral_my_cases' %> -->
<div id="wrapper">
  <div class="content-page">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card-box">
              <div class="table-responsive">
                <table id="laboral-datatable" class="table table-bordered table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Nombre Causa</th>
                        <th>RIT</th>
                        <th>RUC</th>
                        <th>Procedimiento</th>
                        <th>Fecha Ingreso</th>
                        <th>Inicio</th>
                        <th>Estado</th>
                        <th>Etapa</th>
                        <th>E.Proc</th>
                        <th>Tribunal</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
