.count-cases-table {
  .footable-filtering {
    display: none;
  }
  .footable-pagination-wrapper span {
    display: none;
  }
  ul.pagination {
    float: right;
  }
}
.update-data {
  text-align: right;
}

.last-update {
  text-align: right;
  font-style: italic;
}